.product {
  display: flex;
  flex-direction: column;

  width: 180px;
  height: 280px;

  margin: 0 10px 10px 0;
  padding: 20px;

  overflow: hidden;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
}

.product-image {
  align-self: center;

  height: 60%;
}

.product-name {
  margin-top: 10px;
  
  font-size: 16px;
  font-weight: 500;
}

.product-price {
  margin-top: 10px;

  font-size: 14px;
  color: gray;
}

.product-add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;

  width: 30px;
  height: 30px;

  margin-top: auto;

  background-color: #fff;
  border-radius: 50%;
  border: 1px solid lightgray;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}
